<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.chkpwd.ente.auth</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4C82069F-5857-4F72-9807-0A05DACC1F7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F80F0C10-7220-4984-8EED-67425751FBC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D86E603-A8EB-4EE2-BB90-12BECBE1D574</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F4B5FD3-5072-47C9-8129-E130EF0D2E59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F6F4EBD-9981-4B82-B039-7183EA9EEB15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>046A5FD1-F7FF-430A-A92C-62D5AC3C5328</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8D008AC-C61A-4037-A423-E33492A4CC62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7B89588-34B4-49B4-9848-43975E80F16B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7B89588-34B4-49B4-9848-43975E80F16B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D86E603-A8EB-4EE2-BB90-12BECBE1D574</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Copy current code</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7F6F4EBD-9981-4B82-B039-7183EA9EEB15</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste current code</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4C82069F-5857-4F72-9807-0A05DACC1F7C</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy next code</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ECD812F2-4D1E-41CA-B344-81B25B4A6357</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string>Paste next code</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6427711-FED1-47CC-AA39-D59E50B504C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3101A957-02C3-4D0C-8B13-1C3721459261</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECD812F2-4D1E-41CA-B344-81B25B4A6357</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B0C442D-7335-4973-A2EE-E58281C60266</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>chkpwd</string>
	<key>description</key>
	<string>Get TOTP Codes from Ente Auth</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ente Auth</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:split1}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7F4B5FD3-5072-47C9-8129-E130EF0D2E59</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>4D86E603-A8EB-4EE2-BB90-12BECBE1D574</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>7F6F4EBD-9981-4B82-B039-7183EA9EEB15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>64</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>F17</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A8D008AC-C61A-4037-A423-E33492A4CC62</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{var:split1}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>046A5FD1-F7FF-430A-A92C-62D5AC3C5328</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Getting TOTP accounts...</string>
				<key>script</key>
				<string>python3 main.py get_accounts</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Get Ente TOTP Codes</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C7B89588-34B4-49B4-9848-43975E80F16B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>4C82069F-5857-4F72-9807-0A05DACC1F7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>ECD812F2-4D1E-41CA-B344-81B25B4A6357</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:split2}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F80F0C10-7220-4984-8EED-67425751FBC3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>10</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Importing TOTP accounts and downloading icons....</string>
				<key>script</key>
				<string>python3 main.py import</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Import Ente Secrets</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3101A957-02C3-4D0C-8B13-1C3721459261</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ente import</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Import Ente Secrets</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E6427711-FED1-47CC-AA39-D59E50B504C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{var:split2}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5B0C442D-7335-4973-A2EE-E58281C60266</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># An Alfred Workflow that uses your Ente Exports

&gt; [!WARNING]
&gt; This workflow exports secrets from the Ente Auth CLI. Please exercise caution when using it.

## Setup

1. Install workflow from releases
2. Follow instructions below to create the database

## Instructions

1. Open Alfred
2. Go to Workflows.
3. Click the "Ente Auth" workflow and click the Configure Workflow button.
4. Next, configure the settings (NOTE: the export path is what you configured when adding your ente account).
5. Finally, run the Alfred command `ente import`.

## Local Development

### Install/Update dependencies
poetry install --only=main

### Build alfred workflow file
python3 build.py</string>
	<key>uidata</key>
	<dict>
		<key>046A5FD1-F7FF-430A-A92C-62D5AC3C5328</key>
		<dict>
			<key>xpos</key>
			<real>1020.0</real>
			<key>ypos</key>
			<real>260.0</real>
		</dict>
		<key>3101A957-02C3-4D0C-8B13-1C3721459261</key>
		<dict>
			<key>xpos</key>
			<real>315.0</real>
			<key>ypos</key>
			<real>450.0</real>
		</dict>
		<key>4C82069F-5857-4F72-9807-0A05DACC1F7C</key>
		<dict>
			<key>xpos</key>
			<real>595.0</real>
			<key>ypos</key>
			<real>320.0</real>
		</dict>
		<key>4D86E603-A8EB-4EE2-BB90-12BECBE1D574</key>
		<dict>
			<key>xpos</key>
			<real>595.0</real>
			<key>ypos</key>
			<real>195.0</real>
		</dict>
		<key>5B0C442D-7335-4973-A2EE-E58281C60266</key>
		<dict>
			<key>xpos</key>
			<real>1020.0</real>
			<key>ypos</key>
			<real>525.0</real>
		</dict>
		<key>7F4B5FD3-5072-47C9-8129-E130EF0D2E59</key>
		<dict>
			<key>xpos</key>
			<real>1015.0</real>
			<key>ypos</key>
			<real>120.0</real>
		</dict>
		<key>7F6F4EBD-9981-4B82-B039-7183EA9EEB15</key>
		<dict>
			<key>xpos</key>
			<real>595.0</real>
			<key>ypos</key>
			<real>250.0</real>
		</dict>
		<key>A8D008AC-C61A-4037-A423-E33492A4CC62</key>
		<dict>
			<key>xpos</key>
			<real>95.0</real>
			<key>ypos</key>
			<real>255.0</real>
		</dict>
		<key>C7B89588-34B4-49B4-9848-43975E80F16B</key>
		<dict>
			<key>xpos</key>
			<real>315.0</real>
			<key>ypos</key>
			<real>265.0</real>
		</dict>
		<key>E6427711-FED1-47CC-AA39-D59E50B504C7</key>
		<dict>
			<key>xpos</key>
			<real>95.0</real>
			<key>ypos</key>
			<real>450.0</real>
		</dict>
		<key>ECD812F2-4D1E-41CA-B344-81B25B4A6357</key>
		<dict>
			<key>xpos</key>
			<real>595.0</real>
			<key>ypos</key>
			<real>380.0</real>
		</dict>
		<key>F80F0C10-7220-4984-8EED-67425751FBC3</key>
		<dict>
			<key>xpos</key>
			<real>1015.0</real>
			<key>ypos</key>
			<real>400.0</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>code||totp||ente</string>
				<key>placeholder</key>
				<string>en</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The key to trigger the workflow</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/usr/local/bin/ente</string>
				<key>placeholder</key>
				<string>/usr/local/bin/ente</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Ente CLI Binary Path</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>ENTE_AUTH_BINARY_PATH</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>Export Directory Path</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Set this to the export path you configured when you set up Ente CLI. If you can't remember, run `ente account list` and refer to the `ExportDir` value.</string>
			<key>label</key>
			<string>Ente Export Directory</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>ENTE_EXPORT_DIR</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>include username in results title</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>USERNAME_IN_TITLE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>include username in results subtitle</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>USERNAME_IN_SUBTITLE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Overwrite current export</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>OVERWRITE_EXPORT</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>PYTHONPATH</key>
		<string>.venv/lib/python3.13/site-packages</string>
	</dict>
	<key>version</key>
	<string>2.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/chkpwd/alfred-ente-auth</string>
</dict>
</plist>
